.load-items__btn {
  color: black;
  border-radius: 4px;
  border: none;
  box-shadow: 0 6px 4px -4px #777;
  background-color: #f79328;
  height: 50px;
  width: 200px;
  font-family: 'Bangers', cursive;
  font-size: 150%;
}
